<!DOCTYPE html>
<html lang="en">
<head>
    <title>html classes</title>
 </head> 
    <body>
        
        <h1>The ol and ul elements</h1>

    <p>The ol element defines an ordered list:</p>
    <ol>
      <li style="/* list-style-type:square; */">Coffee</li>
      <li style="/* list-style-type:upper-roman; */">Tea</li>
      <li style="/* list-style-type:circle; */">Milk</li>
    </ol>
    
    <p>The ul element defines an unordered list:</p>
    <ul>

      <li style="/* list-style-type:lower-alpha; */">Coffee</li>
      <li style="/* list-style-type:lower-alpha; */" >Tea</li>
      <li style="/* list-style-type:lower-alpha; */" >Milk</li>
    </ul>
       
</body>
</html>